<app-header></app-header>
<ion-content [fullscreen]="false">
  <div class="card">
    <div class="card__img">
      <img src="/assets/music-27.svg" alt="music">
    </div>
    <div class="card__title">{{ track?.name }}</div>
    <div class="card__subtitle">Smalltown Boy , Shane D</div>
    <div class="card__wrapper">
      <div class="card__time card__time-passed">03:34</div>
      <div class="card__timeline"><progress value="55" max="100"></progress></div>
      <div class="card__time card__time-left">02:04</div>
    </div>
    <div class="card__wrapper">
      <button class="card__btn"><svg fill="none" height="12" viewBox="0 0 20 12" width="20"
          xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <clipPath id="a">
            <path d="m0 0h20v12h-20z"></path>
          </clipPath>

        </svg></button>
      <button class="card__btn"><svg width="23" height="16" viewBox="0 0 23 16" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path d="M11.5 8V0L0 8L11.5 16V8ZM23 0L11.5 8L23 16V0Z" fill="#fff"></path>
        </svg></button>
      <button class="card__btn card__btn-play"><svg fill="none" height="22" viewBox="0 0 18 22" width="18"
          xmlns="http://www.w3.org/2000/svg">
          <path d="m0 0v22l18-11z" fill="#000"></path>
        </svg></button>
      <button class="card__btn"><svg width="23" height="16" viewBox="0 0 23 16" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path d="M11.5 8V0L23 8L11.5 16V8ZM0 0L11.5 8L0 16V0Z" fill="#fff"></path>
        </svg></button>
      <button class="card__btn"><svg fill="#fff" height="20" viewBox="0 0 20 20" width="20"
          xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <clipPath id="a">
            <path d="m0 .5h20v19h-20z"></path>
          </clipPath>

        </svg></button>
    </div>
  </div>
</ion-content>