<ion-header [translucent]="true">
<ion-toolbar>
  <ion-title class="ml-2">Home</ion-title>
  <ion-buttons slot="end">
    <app-theme></app-theme>
  </ion-buttons>
</ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true" class="h-screen max-h-screen">
  <div class="flex items-center justify-center h-full max-h-full">
    <div
      class="w-full max-w-lg h-full max-h-full flex items-center justify-center"
    >
      <swiper-container
        loop="true"
        navigation="true"
        class="w-full h-full max-h-full"
      >
        @for (genre of genres; track $index) {
        <swiper-slide
          class="flex flex-col items-center justify-center min-h-[400px] p-3 h-full"
        >
          <div class="flex flex-col items-center w-full px-4">
            <h2 class="text-3xl font-bold text-center mb-4 dark">{{ genre.title }}</h2>
            <img
              class="max-w-[250px] max-h-[250px] mb-4"
              [src]="genre.image"
              [alt]="genre.title"
            />
            <p class="text-center max-w-2xs text-justify">
              {{ genre.description }}
            </p>
          </div>
        </swiper-slide>
        }
      </swiper-container>
    </div>
  </div>
</ion-content>
